<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form enctype="multipart/form-data" method="post">
        <p>
            <input type="file" name="f">
        </p>
        <table border="0">
            <caption>Metric Service</caption>
            <tr>
                <td>
                    <input type="checkbox" name="a1">
                </td>
                <td>
                    <span>Количество строк</span><br>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="a2">
                </td>
                <td>
                    <span>Количество строк с однострочными комментариями</span><br>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="a2">
                </td>
                <td>
                    <span>Другие метрики</span><br>
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Отправить">
        </p>
        <p>
            <img src = "static/image/_1.jpg" width="450" height="255">
        </p>
    </form>
</body>
</html>